{{> header.hbs}}

<body>
    <div class="container">

        {{!-- <div class="row">
            <div class="col-6">
                <h2>Add name</h2>
                <form method="post" action="/passenger">
                    <div class="form-group">
                        <label for="exampleInputEmail1">First name</label>
                        <input type="text" class="form-control" name="name">
                        <small id="emailHelp" class="form-text text-muted">What does your friends call you</small>
                        <div id="emailHelp" class="invalid-feedback">
                            Please provide a valid name.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputEmail1">Amount</label>
                        <input type="text" class="form-control" name="amount">
                        <small id="emailHelp" class="form-text text-muted">What is ths name after the name your friends
                            called you.</small>
                    </div> --}}

        {{!-- <div class="form-group">
                        <label for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" name="email">
                        <small id="emailHelp" class="form-text text-muted">Where do we email you.</small>
                    </div> --}}

        {{!-- <button type="submit" class="btn btn-primary">Submit</button> --}}
        {{!-- </form> --}}
        {{!-- </div> --}}

        {{!-- </div> --}}

        <div class="ui secondary pointing menu">
            <a class="active item">
                Home
            </a>
            <a href="/driver" class="item">
                Driver
            </a>

            {{!-- <div class="right menu">
                <a class="ui item">
                    Logout
                </a>
            </div> --}}
        </div>
        <div style="padding-left: 450px;" class="ui segment">
            <h2 class="ui header">
                <i class="car icon"></i>
                <div class="content">
                    TaDA!
                    <div class="sub header">Taxi and Driver Assistant!</div>
                </div>
            </h2>
        </div>
        <div style="padding-top: 50px;" class="mx-auto" style="width: 400px;">
            <div class="ui placeholder segment">
                <div class="ui two column very relaxed stackable grid">
                    <div class="column">
                        <form method="post" action="/passenger">
                            <div class="ui form">
                                <div class="field">
                                    <label>Username</label>
                                    <div class="ui left icon input">
                                        <input type="text" placeholder="Username" name="name">
                                        <i class="user icon"></i>
                                    </div>
                                </div>
                                <div class="field">
                                    <label>Amount</label>
                                    <div class="ui left icon input">
                                        <input type="price" name="amount">
                                        <i class="lock icon"></i>
                                    </div>
                                </div>
                                {{!-- <button type="submit" class="ui blue submit button">Request</button> --}}
                            </div>


                            <div class="row">
                                <div class="col-6">
                                    <h2 style="padding-top: 20px;">Choose your location</h2>
                                    {{!-- <form method="post" action="/add_destination"> --}}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1"></label>
                                        {{#each person}}
                                        <input placeholder="" style="display: none;" type="text" class="form-control"
                                            name="name" value="{{id}}">
                                        {{/each}}
                                        {{!-- <small id="emailHelp" class="form-text text-muted">What does your friends call
                                            you</small> --}}
                                    </div>



                                    {{!-- <small id="emailHelp" class="form-text text-muted">id={{id}} {{firstName}} paid
                                        R{{amountPaid}}</small> --}}


                                    {{#if message}}
                                    <div class="ui positive message">
                                        <i class="close icon"></i>
                                        <div class="header">
                                            {{message}} was successful your change is {{change}}
                                        </div>
                                        {{!-- <p>Go to your <b>special offers</b> page to see now.</p> --}}
                                    </div>
                                    {{/if}}


                                    <div style="padding-top: 10%;">
                                        <select class="custom-select custom-select-sm city" name="destination">
                                            <option selected value="0">Select Location</option>
                                            {{#each destinations}}
                                            <option class="city" value="{{id}}">{{locationName}} <small>
                                                    R{{price}}</small></option>
                                            {{/each}}
                                        </select>
                                    </div>
                                    <div style="padding-top: 3%;">
                                        <button type="submit" class="btn btn-success town">Payment</button>
                                    </div>
                                    {{!-- </form> --}}
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="middle aligned column">
                        <div class="ui segment">
                            <h2 class="ui header">
                                <i class="money icon"></i>
                                <div class="content">
                                    Price List
                                    <div class="sub header">This is how much it costs to go to:</div>
                                </div>
                            </h2>
                        </div>
                        <table class="ui celled table">
                            <thead>
                                <tr>
                                    <th>Location</th>
                                    <th>Price</th>
                                    {{!-- <th>Job</th> --}}
                                </tr>
                            </thead>
                            <tbody>
                                {{#each destinations}}
                                <tr>
                                    <td data-label="Name">{{locationName}}</td>
                                    <td data-label="price">R{{price}}0</td>
                                    {{!-- <td data-label="Job">Engineer</td> --}}
                                </tr>
                                {{/each}}

                            </tbody>
                        </table>


                    </div>
                </div>
                <div class="ui vertical divider">

                </div>
            </div>
        </div>
    </div>

</body>

</html>